.search-and-filter-container {
    padding-right: 160px;
}

.search-input {
    width: 240px;
}

.search-button {
    border: none;
    outline: none;
    color: #0275d8;
    background-color: white;
    padding: 5px 10px;
}

.search-button:hover {
    color: white;
    background-color: #0275d8;
    box-shadow: 0 8px 9px 7px rgba(0, 0, 0, 0.23);
    transition: all 0.3s;
}

.products-container {
    margin: 100px 0 !important;
}

.card-img-top {
    height: 250px !important;
    object-fit: contain;
}

.card-title, .cart-item-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img-top, .card-title {
    cursor: pointer;
}

@media (max-width: 700px) {
    .search-and-filter-container {
        /*border: 1px solid peru;*/
        padding: 0 !important;
        width: max-content !important;
        gap: 20px;
    }

    .select-container {
        width: 100px !important;
    }

    .search-container {
        width: max-content !important;
        /*border: 1px solid red;*/
    }

    .search-input {
        width: 120px;
    }

    /*FOOTER*/
    footer {
        flex-direction: column;
        gap: 25px;
    }

    .copyright {
        width: fit-content;
    }

    .s-media {
        width: 200px;
    }

    .contact {
        width: fit-content;
    }

}

@media (max-width: 577px) {
    .cart-container {
        padding-right: 10px;
        padding-top: 3px;
    }
}

/*CART*/
.p-sidebar-header {
    position: absolute;
    left: 94%;
    top: 1%;
}

.p-sidebar-header::before {
    content: 'Close';
    position: absolute;
    right: 120%;
    margin-bottom: 1px;
}

.cart-icon-container {
    cursor: pointer;
}

.added-product-img {
    width: 60px;
    height: 70px;
}

.remove-btn {
    padding: 2px !important;
    font-size: 13px !important;
}

/*PRODUCT DETAIL*/
.product-detail-card-img {
    height: 400px !important;
    object-fit: contain;
}