.search-and-filter-container {
    padding-right: 110px;
}

.products-container {
    margin: 100px 0 !important;
}

.card-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-img-top, .card-title {
    cursor: pointer;
}

/*CART*/
.cart-icon-container {
    cursor: pointer;
}

.added-product-img {
    width: 60px;
    height: 70px;
}